In [5]:
import pandas as pd

# 코드를 작성하세요.
df = pd.read_csv('broadcast.csv', index_col=0)
df.loc[2016, 'KBS']

27.583

In [ ]:
df['JTBC']

In [ ]:
df[['SBS', 'JTBC']]

In [1]:
import pandas as pd

samsong_df = pd.read_csv('samsong.csv')
hyundee_df = pd.read_csv('hyundee.csv')

# 코드를 작성하세요.
day = pd.DataFrame(samsong_df.loc[:, '요일'])
sam = pd.DataFrame(samsong_df.loc[:,'문화생활비'])
hyu = pd.DataFrame(hyundee_df.loc[:, '문화생활비'])

cul = {
    'days' : day,
    'samsong' : sam,
    'hyundee.csv' : hyu
}

# df = pd.DataFrame()

In [6]:
import pandas as pd

df = pd.read_csv('broadcast.csv', index_col=0)

df = df.loc[2012:2017, 'KBS':'SBS']
df

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

In [3]:
import pandas as pd

df = pd.read_csv('broadcast.csv', index_col=0)

df = df.loc[ df['KBS'] > 30,'KBS']

df

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [9]:
import pandas as pd

df = pd.read_csv('broadcast.csv', index_col=0)

df = df.loc[ df['SBS'] < df['TV CHOSUN'],'SBS':'TV CHOSUN']

df

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886