In [5]:
import pandas as pd

# 코드를 작성하세요.
df = pd.read_csv('broadcast.csv', index_col=0)
df.loc[2016, 'KBS']

27.583

In [ ]:
df['JTBC']

In [ ]:
df[['SBS', 'JTBC']]

In [27]:
import pandas as pd

samsong_df = pd.read_csv('samsong.csv')
hyundee_df = pd.read_csv('hyundee.csv')

# 코드를 작성하세요.
day = samsong_df.loc[:, '요일']
sam = samsong_df.loc[:,'문화생활비']
hyu = hyundee_df.loc[:, '문화생활비']

cul = {
    'days' : day,
    'samsong' : sam,
    'hyundee' : hyu
}

df = pd.DataFrame(cul)
df

  days  samsong  hyundee.csv
0  MON     4308         5339
1  TUE     7644         3524
2  WED     5674         5364
3  THU     8621         9942
4  FRI    23052        33511
5  SAT    15330        19397
6  SUN    19030        19925