In [3]:
import pandas as pd

b_day = [['Taylor Swift', 'December 13,1989', 'Singer-songwriter'], ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'], ['Harry Potter', 'July 31, 1980', 'Wizard'], ['Ji-Sung Park', 'February 25, 1981', 'Footballer']]

stars = pd.DataFrame(b_day, columns=['name', 'birthday', 'occupation'])

stars

           name           birthday         occupation
0  Taylor Swift   December 13,1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer